<div class="sidebar-container">
    <div class="navigation">
        <div class="empty-space"></div>
        <div class="menu-btns">
            <div [routerLink]="['/home']" routerLinkActive="active-btn" class="nav-btn">
                <div class="icon-container">
                    <i class="home icon"></i>
                </div>
                <div class="text">
                    <h4>Home</h4>
                </div>
            </div>
            <div [routerLink]="['/movies']" routerLinkActive="active-btn" class="nav-btn">
                <div class="icon-container">
                    <i class="bi bi-collection"></i>
                </div>
                <div class="text">
                    <h4>Items</h4>
                </div>
            </div>
            <div [routerLink]="['/page404']" routerLinkActive="active-btn" class="nav-btn">
                <div class="icon-container">
                    <i class="bi bi-graph-up-arrow"></i>
                </div>
                <div class="text">Activity</div>
            </div>
            <div [routerLink]="['/page404']" routerLinkActive="active-btn" class="nav-btn">
                <div class="icon-container">
                    <i class="users icon"></i>
                </div>
                <div class="text">Holders</div>
            </div>
            <div [routerLink]="['/page404']" routerLinkActive="active-btn" class="nav-btn">
                <div class="icon-container">
                    <i class="bi bi-map"></i>
                </div>
                <div class="text">Roadmap</div>
            </div>
            <div [routerLink]="['/page404']" routerLinkActive="active-btn" class="nav-btn">
                <div class="icon-container">
                    <i class="bi bi-info-lg"></i>
                </div>
                <div class="text">About Us &nbsp;</div>
            </div>
            <div [routerLink]="['/page404']" routerLinkActive="active-btn" class="nav-btn">
                <div class="icon-container">
                    
                    <i class="bi bi-chat-left-text"></i>
                </div>
                <div class="text">Contact</div>
            </div>
        </div>
    </div>